<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="steamvoat.css" rel="stylesheet">
</head>

<body ng-app="voat" ng-controller="one">

<div class="flex-container">
    <div class="header-group">
        <div class="header-item"><h1>SteamVoat</h1></div>
    </div>
    <div class="vote-group" ng-class="votecolorclass">
        <div class="vote-item"> <!-- not sure why TODO -->
            &nbsp;</div>
        <div class="vote-item">
            <button class="btn  green-custom"
                    ng-click="clickbutton('green')">&nbsp;</button>
        </div>
        <div class="vote-item">
            <button class="btn yellow-custom"
                    ng-click="clickbutton('yellow')">&nbsp;</button>
        </div>
        <div class="vote-item">
            <button class="btn red-custom"
                    ng-click="clickbutton('red')">&nbsp;</button>
        </div>
        <div class="vote-item">
            &nbsp;</div>
    </div>
</div>

<div class="comment-group">
    <div class="comment-item">
        <p>If you have any comments, please use this box!</p>
        <textarea class="comment-box" cols=40 rows=5 placeholder="Comments" ng-model="voteData.comment"></textarea>
        <div>
            <button class="submitbutton"
                    ng-click="send()">Submit Comments</button>
        </div>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script><!-- TODO minify -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.js"></script>
<script src="js/angular-uuid.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="js/jrumble.js"></script>

<script src="index.js"></script>

</body>
</html>
