html, body, .flex-container {
    height: 100%;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: #E8E8E8;
    /* TODO gradient #A0C295 to C2A195 */
}

.header-group {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.header-item, .vote-item {
    padding-left: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    flex: 1 1 auto;
}

.vote-group {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.btn, .btn :active, .btn :hover, .btn :focus {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
}

.submitbutton {
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    margin-top: 11px;
    margin-bottom: 22px;
}

/* http://charliepark.org/bootstrap_buttons/ */
.green-custom {
    background-color: hsl(93, 79%, 30%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#75e41a", endColorstr="#468810");
    background-image: -moz-linear-gradient(top, #75e41a, #468810);
    background-image: -ms-linear-gradient(top, #75e41a, #468810);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #75e41a), color-stop(100%, #468810));
    background-image: -webkit-linear-gradient(top, #75e41a, #468810);
    background-image: -o-linear-gradient(top, #75e41a, #468810);
    background-image: linear-gradient(#75e41a, #468810);
    border-color: #468810 #468810 hsl(93, 79%, 25%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}


.yellow-custom {
    background-color: hsl(53, 79%, 49%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eedf71", endColorstr="#dfc81a");
    background-image: -moz-linear-gradient(top, #eedf71, #dfc81a);
    background-image: -ms-linear-gradient(top, #eedf71, #dfc81a);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eedf71), color-stop(100%, #dfc81a));
    background-image: -webkit-linear-gradient(top, #eedf71, #dfc81a);
    background-image: -o-linear-gradient(top, #eedf71, #dfc81a);
    background-image: linear-gradient(#eedf71, #dfc81a);
    border-color: #dfc81a #dfc81a hsl(53, 79%, 44%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
}

.red-custom   {
    background-color: hsl(17, 100%, 37%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fe6123", endColorstr="#bc3500");
    background-image: -moz-linear-gradient(top, #fe6123, #bc3500);
    background-image: -ms-linear-gradient(top, #fe6123, #bc3500);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fe6123), color-stop(100%, #bc3500));
    background-image: -webkit-linear-gradient(top, #fe6123, #bc3500);
    background-image: -o-linear-gradient(top, #fe6123, #bc3500);
    background-image: linear-gradient(#fe6123, #bc3500);
    border-color: #bc3500 #bc3500 hsl(17, 100%, 32%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

.comment-group {
    flex: 0 1 auto;
    /*display: flex;*/
    /*flex-flow: row nowrap;*/
    /*justify-content: flex-start;*/
    /*height: 999px; */
}

.comment-item {
    padding-left: 50px;
}

.box-shadow-menu {
    position: relative;
    padding-left: 1.2em;
    margin-left: 10px;
    margin-top: 3px;
    font-size: 36px;
}

.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow:
            0 0.25em 0 0 black,
            0 0.5em 0 0 black;
}


h1 {
    font-weight: 600;
    font-size: 38px;
    margin: 0px 0px 0px 0px;
    line-height: 120%;
    font-family: 'Open sans', sans-serif;
}

p {
    font-family: 'Open sans', sans-serif;
    color: #777777;
    font-size: 14px;
}



