<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SteamVote - Prof Hald</title>
    <link href='https://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="sass/steamvoat.css" rel="stylesheet">
</head>
<body>
<div class="flex-container" ng-class="votecolorclass">
    <div class="header-group" ng-hide="votecolorclass">
        <div class="logo"><img src="images/SteamVote-Logo.svg"></div>
        <div class="header-comment-icon"></div>
    </div>
    <div class="comments">
        <div class="comment-entry">
            <div class="comment-group">
                <h1>Please provide feedback or questions.</h1>
                <h2>The professor will use your comments to improve this class.</h2>
                <div class="comment-item">
                    <textarea class="comment-box" cols=40 rows=5 ng-model="voteData.comment"></textarea>
                    <div>
                        <button class="submit-feedback"
                                ng-click="send()">Submit Comments</button>
                        <div class="comments-back-icon"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-confirmation">
            <h1>Thanks for your <br>comments!</h1>
            <div class="comments-back-icon"></div>
        </div>
    </div>

</div>
</body>
</html>