<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <meta charset="UTF-8">
    <title>Prof Hald - SteamVoat</title>
    <link href="steamvoat.css" rel="stylesheet">
</head>

<body ng-app="voat" ng-controller="one">

<div class="flex-container" ng-class="votecolorclass">
    <div class="header-group">
        <div class="header-item"><h1>Prof Hald on SteamVoat</h1></div>
    </div>
    <div class="vote-group" ng-hide="votecolorclass">
        <div class="vote-item">
            <button class="btn  green-background"
                    ng-click="clickbutton('green')">&nbsp;</button>
        </div>
        <div class="vote-item">
            <button class="btn yellow-background"
                    ng-click="clickbutton('yellow')">&nbsp;</button>
        </div>
        <div class="vote-item">
            <button class="btn red-background"
                    ng-click="clickbutton('red')">&nbsp;</button>
        </div>
    </div>
    <div class="bubble">
        <button class="btn btn-white">Comments?</button>
    </div>

</div>

<div class="comment-group">
    <div class="comment-item">
        <p>If you have any comments, please use this box!</p>
        <textarea class="comment-box" cols=40 rows=5 placeholder="Comments" ng-model="voteData.comment"></textarea>
        <div>
            <button class="submitbutton"
                    ng-click="send()">Submit Comments</button>
            <span ng-show="feedbackMessage" class="feedback">  Submitted, thank you!</span>
        </div>
    </div>
</div>

<!-- build:js  steamvoat.min.js -->
<script src="/devresources/js/angular.js"></script>
<script src="/devresources/js/angular-cookies.js"></script>
<script src="/devresources/js/angular-uuid4.js"></script>
<script src="/devresources/js/angular-animate.js"></script>
<script src="/devresources/js/index.js"></script>
<!-- /build -->
</body>
</html>
