<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SteamVote - Prof Hald</title>
    <link href='https://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href="steamvoat.css" rel="stylesheet">
</head>

<body ng-app="voat" ng-controller="one">

<div class="flex-container" ng-class="votecolorclass" ng-hide="showCommentsEntry">
    <div class="header-group" ng-hide="votecolorclass">
        <div class="logo" ng-click="backToHome()"><img src="images/SteamVote-Logo.svg"></div>
        <div class="header-comment-icon" ng-click="goToComments()"></div>
    </div>
    <div class="course-group" ng-hide="votecolorclass">
        <div class="labels">
            <div class="label-left">Professor</div>
            <div class="label-right">Class</div>
        </div>
        <div class="course-info">
            <div class="label-left">{{voteData.professorName}}</div>
            <div class="label-right">{{voteData.className}}</div>
        </div>
    </div>
    <div class="vote-group" ng-hide="votecolorclass">
        <div class="vote-item">
            <button class="red-background"
                    ng-click="clickbutton('red')">I'm unsure</button>
        </div>
        <div class="vote-item">
            <button class="yellow-background"
                    ng-click="clickbutton('yellow')">I'm almost there</button>
        </div>
        <div class="vote-item">
            <button class="green-background"
                    ng-click="clickbutton('green')">I got this</button>
        </div>
    </div>
    <div class="action-group" ng-show="votecolorclass">
        <div class="action-button back-icon" ng-click="votecolorclass='';"></div>
        <div class="action-button comment-icon" ng-click="goToComments()"></div>
    </div>
</div>

<div class="flex-container" ng-show="showCommentsEntry">
    <div class="header-group">
        <div class="logo" ng-click="backToHome()"><img src="images/SteamVote-Logo.svg"></div>
        <div ng-class="commentIconState()" ng-click="goToComments()"></div>
    </div>
    <div class="comments">
        <div class="comment-entry" ng-hide="showConfirmation">
            <div class="comment-group">
                <h1>Please provide feedback or questions.</h1>
                <h2>The professor will use your comments to improve this class.</h2>
                <div class="comment-item">
                    <textarea class="comment-box" cols=40 rows=5 ng-model="voteData.comment"></textarea>
                    <div>
                        <button class="submit-feedback" ng-style="submitFeedbackDimmed()"
                                ng-click="send()">Submit Comments</button>
                        <div class="comments-back-icon" ng-click="backToVoting()"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comment-confirmation" ng-show="showConfirmation">
            <h1>Thanks for your <br>comments!</h1>
            <div class="comments-back-icon" ng-click="backToVoting()"></div>
        </div>
    </div>
</div>


<!-- build:js  steamvote.min.js -->
<script src="/devresources/angular.js"></script>
<script src="/devresources/angular-cookies.js"></script>
<script src="/devresources/angular-uuid4.js"></script>
<script src="/devresources/angular-animate.js"></script>
<script src="/devresources/moment.js"></script>
<script src="/devresources/steamvote.js"></script>
<!-- /build -->

</body>
</html>
