/* general settings */
html, body, .flex-container {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.flex-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
}

/* Header is the title and an icon (optional) */
.header-group {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 40px 40px 20px 40px;
    background: #bdbdbd;
}

.header-item, .vote-item {
    margin: 20px 0;
    flex: 1;
    position: relative;
}

.course-info {
    float: left;
}

.logo {
    float: right;
}

/* vote group is the main pane */
.vote-group {
    clear: both;
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: stretch;
    padding: 100px;
}

/* general button styling */
.btn, .btn :active, .btn :hover, .btn :focus {
    border-radius: 10px;
    border: none;
    outline: none;
    position: absolute;
    width:100%;
    height:100%;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-white {
    background: #fff;
    font-size: 36px;
    flex: 0 0 auto;
    width: 35%;
    position: relative;
}

.btn-submit {
    border-radius: 10px;
    border: none;
    outline: none;
    position: relative;
    background: #4db6ac;
    color: #fff;
    width: 200px;
    height: 50px;
    font-size: 16px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}

/* style for the three buttons AND the background of the vote pane */
/* http://charliepark.org/bootstrap_buttons/ */
.green-background {
    background: #4caf50;
    color: #fff !important;
    -webkit-font-smoothing: antialiased;
    box-shadow: 5px 5px 0 0 rgba(27,94,32,1);
}


.yellow-background {
    background: #ffee58;
    color: #333 !important;
    -webkit-font-smoothing: antialiased;
    box-shadow: 5px 5px 0 0 rgba(253,216,53,1);
}

.red-background   {
    background: #ef5350;
    color: #fff !important;
    -webkit-font-smoothing: antialiased;
    box-shadow: 5px 5px 0 0 rgba(183,28,28,1);

}

/* the comment group is always under the fold */
.comment-group {
    flex: 0 1 auto;
    padding: 40px;
    display: flex;
    flex-flow: row nowrap;
}

.comment-item {
    flex: 1 0 auto;
    justify-content: center;
    position: relative;
}


/* text formatting */
h1 {
    font-weight: 600;
    font-size: 46px;
    margin: 0px 0px 0px 0px;
    line-height: 120%;
}

p {
    color: #777777;
    font-size: 14px;
}

/* bubble is the comment? messge that is shown over the UI */
.bubble {
    width: 100%;
    height: 100px;
    font-weight: 300;
    font-size: 30px;
    margin: 0px 0px 0px 0px;
    line-height: 120%;
    font-family: 'Open sans', sans-serif;
    font-style: italic;
    color: black;
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

/* feedback for comment button */
.feedback {
    margin-left: 20px;
    background-color: #ffecb3;
    font-size: 16px;
    font-family: 'Open sans', sans-serif;
    width: 200px;
    height: 50px;
    border: 1px solid #ffc400;
    outline: none;
    position: relative;
}

textarea {
    border: 1px solid #aaa;
    outline: none;
    resize: none;
    width: 100%;
    font-size: 16px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

