$font-stack: 'Asap', Verdana, sans-serif;
$green: #8bc34a;
$darkGreen: #578b2b;
$yellow: #ffee58;
$darkYellow: #f1c428;
$red: #ef5350;
$darkRed: #c5332f;
$darkGrey: #616161;
$blackish: #333333;
$steamBlue: #26c6da;
$warmGrey: #979797;
$mobileImageWidth: 349px;

@mixin button() {
  border-radius: 8px;
  border: none;
  outline: none;
  font-family: $font-stack;
}

@mixin h1() {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
}

@mixin h2() {
  color: $darkGrey;
  font-size: 14px;
  line-height: 18px;
}

h1 {
  @include h1();
  margin: 0;
}

h2 {
  @include h2();
  font-weight: 400;
  margin: 7px 0;
}


html, body {
  height: 100%;
  margin: 0;
  font-family: $font-stack;
  @include h2();

  .header-group {
    padding: 15px 33px;
    background: $blackish;

    .logo {
      height: 19px;
      width: 124px;
      display: inline-block;
    }

    .header-comment-icon {
      background: url("../images/chat-icon-header.svg") no-repeat;
      width: 20px;
      height: 21px;
      float: right;
      display: inline-block;
    }

    .header-comment-icon-selected {
      background: url("../images/chat-icon-header-selected.svg") no-repeat;
      width: 20px;
      height: 21px;
      float: right;
      display: inline-block;
    }
  }

  .flex-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    height: 100%;

    &.green-background {
      background: $green;

      .back-icon {
        background: url("../images/back-arrow-green.svg") no-repeat;
      }

      .comment-icon {
        background: url("../images/comment-icon-green.svg") no-repeat;
      }
    }

    &.yellow-background {
      background:$yellow;

      .back-icon {
        background: url("../images/back-arrow-yellow.svg") no-repeat;
      }

      .comment-icon {
        background: url("../images/comment-icon-yellow.svg") no-repeat;
      }
    }

    &.red-background {
      background: $red;
      
      .back-icon {
        background: url("../images/back-arrow-red.svg") no-repeat;
      }
      
      .comment-icon {
        background: url("../images/comment-icon-red.svg") no-repeat;
      }
    }

    .course-group {
      padding: 33px;
      color: $darkGrey;

      .label-left {
        display: inline-block;
      }

      .label-right {
        display: inline-block;
        float: right;
      }

      .labels {
        text-transform: uppercase;
      }

      .course-info {
        @include h1();
      }
    }

    .vote-group {
      clear: both;
      flex: 1 0 auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-content: stretch;
      padding: 0 33px 33px 33px;

      .vote-item {
        margin: 12.5px 0;
        flex: 1;
        position: relative;

        &:first-of-type {
          margin-top: 0;
        }

        button {
          @include button();
          position: absolute;
          width:100%;
          height:100%;
          font-weight: 700;
          font-style: italic;
          font-size: 18px;

          &.red-background {
            background: $red;
            color: $darkRed;
            -webkit-font-smoothing: antialiased;
            box-shadow: 2px 2px 0 0 $darkRed;
          }

          &.yellow-background {
            background: $yellow;
            color: $darkYellow;
            -webkit-font-smoothing: antialiased;
            box-shadow: 2px 2px 0 0 $darkYellow;
          }

          &.green-background {
            background: $green;
            color: $darkGreen;
            -webkit-font-smoothing: antialiased;
            box-shadow: 2px 2px 0 0 $darkGreen;
          }
        }
      }

    }

    .action-group {
      height: 100px;
      font-weight: 300;
      font-size: 30px;
      padding: 33px;
      line-height: 120%;
      font-family: 'Open sans', sans-serif;
      font-style: italic;
      color: black;
      .action-button {
        width: 36px;
        height: 38px;
        display: inline-block;

        &.comment-icon {
          float: right;
        }
      }
    }
  }

  .comments {

    .comments-back-icon {
      background: url("../images/back-arrow.svg") center right no-repeat;
      width: 40px;
      height: 40px;
      display: inline-block;
    }

    .comment-entry  {
      .comment-group {
        padding: 33px;

        .comment-item {
          .submit-feedback {
            @include button();
            position: relative;
            background: $steamBlue;
            color: #fff;
            width: 160px;
            height: 40px;
            font-size: 13px;
            text-transform: uppercase;
            display: inline-block;
            letter-spacing: 0.75px;
            display: inline-block;
          }

          .feedback-message {
            margin-left: 20px;
            background-color: #ffecb3;
            font-size: 16px;
            font-family: $font-stack;
            width: 200px;
            height: 50px;
            border: 1px solid #ffc400;
            outline: none;
            position: relative;
          }

          textarea {
            border: 1px solid $warmGrey;
            outline: none;
            resize: none;
            width: 100%;
            font-size: 14px;
            padding: 15px;
            border-radius: 8px;
            margin: 7px 0 15px 0;
            height: 145px;
            box-sizing: border-box;
            font-family: $font-stack;
            color: $warmGrey;
            font-style: italic;
            line-height: 18px;
          }

          .comments-back-icon {
            float: right;
          }
        }
      }
    }

    .comment-confirmation {
      text-align: center;

      h1 {
        margin: 125px 0 10px 0;
      }
    }
  }


  /* ng-cloak */
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
}