/* general settings */
html, body, .flex-container {
    height: 100%;
    margin: 0;
    font-family: 'Open sans', sans-serif;
}

.flex-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    /* TODO gradient #A0C295 to C2A195 */
}

/* Header is the title and an icon (optional) */
.header-group {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 20px 20px 0 20px;
    text-align: center;
}

.header-item, .vote-item {
    margin: 20px 0;
    flex: 1;
    position: relative;
}


/* vote group is the main pane */
.vote-group {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: stretch;
    padding: 15px 40px;
}

/* general button styling */
.btn, .btn :active, .btn :hover, .btn :focus {
    border-radius: 10px;
    border: none;
    outline: none;
    position: absolute;
    width:100%;
    height:100%;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-white {
    background: #fff;
    font-size: 16px;

}

/* button for comments */
.submitbutton, .submitbutton :active, .submitbutton :hover, .submitbutton :focus {
    border-radius: 10px;
    border: 1px solid;
    margin-top: 11px;
    margin-bottom: 22px;
}

/* style for the three buttons AND the background of the vote pane */
/* http://charliepark.org/bootstrap_buttons/ */
.green-background {
    background: #4caf50;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}


.yellow-background {
    background: #ffee58;
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
}

.red-background   {
    background: #ef5350;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
    -webkit-font-smoothing: antialiased;
}

/* the comment group is always under the fold */
.comment-group {
    flex: 0 1 auto;
    /*display: flex;*/
    /*flex-flow: row nowrap;*/
    /*justify-content: flex-start;*/
    /*height: 999px; */
}

.comment-item {
    padding-left: 50px;
}

/* hamburger menu, currently not used */
.box-shadow-menu {
    position: relative;
    padding-left: 1.2em;
    margin-left: 10px;
    margin-top: 3px;
    font-size: 36px;
}

.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow:
            0 0.25em 0 0 black,
            0 0.5em 0 0 black;
}


/* text formatting */
h1 {
    font-weight: 600;
    font-size: 38px;
    margin: 0px 0px 0px 0px;
    line-height: 120%;
}

p {
    color: #777777;
    font-size: 14px;
}

/* bubble is the message that is shown over the UI */
.bubble {
    width: 150px;
    height: 50px;
    font-weight: 300;
    font-size: 30px;
    margin: 0px 0px 0px 0px;
    line-height: 120%;
    font-family: 'Open sans', sans-serif;
    font-style: italic;
    color: black;
    position: absolute;
    bottom: 5%;
    left: 42.5%;
}

/* feedback for comment button */
.feedback {
    margin-left: 20px;
    background-color: gold;
    font-size: 15px;
    font-family: 'Open sans', sans-serif;
}


/* next 9 rules are for the animation (sigh) */

/* End state for bubble is shown (ie it is up)
   Note that the HIDE state means the bubble is
   at the bottom of the window, not actually hidden. */
.animate-slide {
    top: 20%;
    left: 20%;
    -webkit-transform: translate3d(0, 0, 0);
    /* Chrome, Safari, Opera */
    transform: translate3d(0, 0, 0, );
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* end state for hidden (ie at bottom of screen) */
.animate-slide.ng-hide {
    top: 95%;
    left: 25%;
    display: block!important;
}

/* whenever hide is applied,
  Removing this works in latest Chrome, but left this in either way */
.animate-slide.ng-hide-add,
.animate-slide.ng-hide-remove {
    display: block!important;
}

/* transition from hidden to shown */
.animate-slide.ng-hide-remove.ng-hide-remove-active {
    -webkit-animation: 1.5s slide-up;
    animation: 1.5s slide-up;
}

/* tranisition from shown to hidden */
.animate-slide.ng-hide-add.ng-hide-add-active {
    -webkit-animation: 1.5s slide-down;
    animation: 1.5s slide-down;
}

/* Transition trajectories:  Chrome, Safari, Opera */
/* Latest Chrome does not need this anymore, but left this in */
@-webkit-keyframes slide-up {
    0% { top: 95%; left: 25%;  }
    100% { top: 20%; left: 20%;  }
}

@-webkit-keyframes slide-down {
    0% { top: 20%; left: 20%;  }
    100% { top: 95%; left: 25%;  }
}

/* Transition trajectories:  Standard syntax */
@keyframes slide-up {
    0% { top: 95%; left: 25%;  }
    100% { top: 20%; left: 20%; }
}

@keyframes slide-down {
    0% {  top: 20%; left: 20%;  }
    100% { top: 95%; left: 25%;  }
}


@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(2px, 2px) rotate(20deg);
    }
    20% {
        -webkit-transform: translate(-4px, -4px) rotate(-20deg);
    }
    40% {
        -webkit-transform: translate(2px, 2px) rotate(20deg);
    }
    60% {
        -webkit-transform: translate(-2px, 2px) rotate(-20deg);
    }
    80% {
        -webkit-transform: translate(4px, -4px) rotate(20deg);
    }
    100% {
        -webkit-transform: translate(-2px, 2px) rotate(-20deg);
    }
}

.shake {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.6s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    animation-duration: 0.6;
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

